@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*{
  font-family: "Nunito";
}
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con{
  padding: 20px;
  width: 27.7ch;
}
.title{
  margin:  0  0 20px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.input {
  margin: 10px 0;
  position: relative;
}
.input input{
  padding: 10px;
  width: 90%;
  border: 2px solid black;
  border-radius: 5px;
  background: transparent;
}
.input button{
  position: absolute;
  top: 17%;
  right: 5%;
  border: none;
  background-color: transparent;
  padding: 5px;
  color: #ef233c;
  cursor: pointer;
}
.slider label,.tit{
  display: block;
  margin: 5px 0;
}
.slider input[type="range"]{
  width: 80%;
  accent-color: #ef233c;
}
.slider p{
  display: inline;
  margin: 10px 5px;
  position: relative;
  top: -3px;
  left: 10px;
  font-weight: 500;
}
.options input[type="checkbox"]{
  accent-color: #ef233c;
  margin: 10px;
  cursor: pointer;
}
.gen{
  margin: 10px auto 0;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #ef233c;
  color: #FFF;
  cursor: pointer;
  font-weight: 600;
}
.error-container{
  position: absolute;
  bottom: -100px;
  margin:  10px 0;
  padding: 10px;
  border-radius: 4px;
  color: #FFF;
  animation: slide 2.5s ease-in-out 0s 1;
  transition: all 1s ease-in-out;
}
::-webkit-scrollbar{
  visibility: hidden;
}
@keyframes slide {
    50%{
      bottom: 0;
    }
    75%{
      bottom: 0;
    }
    80%{
      bottom: 0;
    }
    100%{
      bottom: -100px;
    }
}